.table {
    composes: table from './../components/UsingStylesProperty/UsingStylesProperty.css';
}

.row {
    composes: row from './../components/UsingStylesProperty/UsingStylesProperty.css';
}

.row {
    border: 2px solid blue;
}

.table {
    border: 2px solid yellow;
    width: 400px;
}

.cell {
    float: left; width: 154px; background: #aaa; padding: 10px; margin: 10px 0 10px 10px;
}